MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/bconnect?retryWrites=true&w=majority&appName=yourApp
MONGO_DB_NAME=bconnect
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
PORT=5000
CLIENT_ORIGIN=http://localhost:3000
